@model IEnumerable<wHealth.Doctor>

@{
    ViewData["Title"] = "Index";
}



<table class="table table-bordered table-hover content-wrapper table-striped table-responsive-sm" id="dataTable">
    <thead class="bg-gradient-info text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>

        </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

           
           

            $("#dataTable").DataTable();


        });
    </script>

}